.login-panel {

    width: 390px;
    padding: 20px 20px;
  }
  
  .my-center-text {
    text-align: center;
    width: 100%;
  }
  
  .message-left
  {
    text-align: left;
    font-size: 12px;
  }
  html{
    height: auto;
  }
  