<p-toast key="passmath" [style]="{marginTop: '70px'}"></p-toast>
<p-toast key="success" [style]="{marginTop: '70px'}"></p-toast>
<div class="card login-panel ui-fluid">
  <div class="ui-g ">
    <div class="ui-g-12 ">
      <img src="../../assets/binfill/applogo.png">
    </div>
    
    <div class="ui-g-12 ">
        <div class="ui-card-title">
            <div class="ui-g-12 my-center-text"> Password Reset</div>
          </div>
      <div class="ui-g-12">
          <input type="password" [(ngModel)]="Password" pPassword placeholder="Password" autocomplete="off" class="ui-inputtext ui-corner-all ui-state-default ui-widget" minlength="6"   #prmPass="ngModel" required>
         
        
        
        <div class="message-left" *ngIf="prmPass.errors?.minlength"> 
        Atlest 6 digits.
        </div> 
    </div>
    <div class="ui-g-12">
      <input type="password" [(ngModel)]="Passwordretype" pPassword  placeholder="Password-Retype" autocomplete="off" class="ui-inputtext ui-corner-all ui-state-default ui-widget"  minlength="6"   #prmPassre="ngModel" required validateEqual="password">
     
      
    
    <div class="message-left" *ngIf="prmPassre.errors?.minlength"> 
      Atlest 6 digits..
    </div> 
</div>
    <div class="ui-g-12">
      <button  type="button" [disabled]="(prmPass.errors?.minlength || prmPassre.errors?.minlength) && (prmPass.dirty)" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left"
        type="submit" (click)="reset()">
        <span class="ui-button-icon-left ui-c fa fa-fw ui-icon-person"></span>
        <span class="ui-button-text ui-c">Submit</span>
      </button>

    </div>
    </div>

   
  </div>

</div>
