<!-- Admin Table -->
<div class="ui-g">
  <div class="ui-g-12">

    
      <input type="text" pInputText placeholder="Keyword" [(ngModel)]="search" style=" float:left; ">
      <button pButton type="button" label="Reset" class="ui-button-danger" style="float:right;"
              (click)="onclear();loadAllUsers()"></button>
      <button pButton type="button" label="Filter" class="ui-button-info" style="float:right; "
              (click)="FilterAdmin()"></button>

              <div class="ui-g-12 ">
                <!-- <app-admin-edit> </app-admin-edit> -->
              </div>
    </div>
  
  <div class="ui-fluid">
    <p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
      <ng-template let-message pTemplate="message">
        <div style="text-align: center">
          <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
          <h3>{{message.summary}}</h3>
          <p>{{message.detail}}</p>
        </div>
        <div class="ui-g ui-fluid">
          <div class="ui-g-6">
            <button type="button" pButton (click)="onConfirm()" label="Yes" class="ui-button-success"></button>
          </div>
          <div class="ui-g-6">
            <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
          </div>
        </div>
      </ng-template>
    </p-toast>
    <p-toast position="center" key="e" (onClose)="onRejectedit()" [modal]="true" [baseZIndex]="5000">
      <ng-template let-message pTemplate="message">
        <div style="text-align: center">
          <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
          <h3>{{message.summary}}</h3>
          <p>{{message.detail}}</p>
        </div>
        <div class="ui-g ui-fluid">
          <div class="ui-g-6">
            <button type="button" pButton (click)="onConfirmedit()" label="Yes" class="ui-button-success"></button>
          </div>
          <div class="ui-g-6">
            <button type="button" pButton (click)="onRejectedit()" label="No" class="ui-button-secondary"></button>
          </div>
        </div>
      </ng-template>
    </p-toast>
    <p-dataTable [value]="users" [rows]="5" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]"
                 columnResizeMode="expand">
      <p-column field="id" header="ID" [sortable]="true">
      </p-column>
      <p-column field="user.firstName" header="Name" [sortable]="true" sortField="user.firstName">
      </p-column>
      <p-column field="phoneNumber" header="Contact Phone" [sortable]="true" sortField="phoneNumber">
      </p-column>
      <p-column field="user.email" header="Email Address" [sortable]="true" sortField="user.email">
      </p-column>
      <p-column field="country.name" header="Address" [sortable]="true" sortField="country.name">
      </p-column>
      <p-column styleClass="col-button" field="Modify" header="Modify">
        <ng-template let-candidate1="rowData" let-candidate="rowData" pTemplate="body">
          <button type="button" pButton (click)="showEdit(candidate1);" icon="fa fa-edit"></button>
          <button type="button" pButton (click)="callMethod(candidate1)" icon="fa fa-trash"
                  class="ui-button-danger"></button>
        </ng-template>
      </p-column>
    </p-dataTable>
  </div>
</div>