.login-panel{

    padding: 20px 20px;
}

.my-center-text {
    text-align: center;
    width: 100%;
}
html{
    height: auto !important;
  }
  .message-left
{
  text-align: left;
  font-size: 12px;
}