<p-toast key="tst" [style]="{marginTop: '70px'}"></p-toast>
<div class="card login-panel ui-fluid">
  <div class="ui-g ">
    <div class="ui-g-12">
      <img src="../../assets/binfill/applogo.png">
    </div>
    <div class="ui-card-title">
      <div class="ui-g-12 my-center-text">Login</div>
    </div>

    <div class="ui-g ui-fluid">
      <div class="ui-g-12">

        <input type="email" [(ngModel)]="email" pinputtext="" autocomplete="off" placeholder="Email"
               class="ui-inputtext ui-corner-all ui-state-default ui-widget" email="true" #prmEmail="ngModel" required>


        <div class="message-left" *ngIf="prmEmail.errors?.email">
          Email not valid.
        </div>
      </div>
      <div class="ui-g-12">

        <input type="password" pinputtext=""  placeholder="Password" [(ngModel)]="password" autocomplete="off"
               class="ui-inputtext ui-corner-all ui-state-default ui-widget" #pass="ngModel" minlength="6" required>


        <div class="message-left" *ngIf="pass.errors?.minlength">
          Atlest 6 digits
        </div>
      </div>
    </div>
    <div class="ui-g-12">
      <button [disabled]="(pass.errors?.minlength || prmEmail.errors?.email)&&(prmEmail.touched ||pass.errors.touched) "
              type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left"
              type="submit" (click)="onClickMe()">
        <span class="ui-button-icon-left ui-c fa fa-fw ui-icon-person"></span>
        <span class="ui-button-text ui-c">Sign In</span>
      </button>
      <button [disabled]="prmEmail.errors?.email" type="button"
              class="ui-button-warning ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left"
              type="submit" (click)="forgot()">
        <span class="ui-button-icon-left ui-c fa fa-unlock ui-icon-unlock"></span>
        <span class="ui-button-text ui-c">Forgot Password</span>
      </button>
    </div>
  </div>

</div>
