<!DOCTYPE html>
<html>
    <p>
        Hi <strong>{{first_name}} {{last_name}} </strong>,</br></br>
        Welcome to Binfill !</br>
        You received this email because your email has been registered as a super coordinator on Binfill.</br>
        The next step is to set your password.</br></br>

        Click here to set your password. </br></br>

        <a href = {{password_set_link}}> {{password_set_link}}</a> </br></br>

        <h5>This e-mail may contain trade secrets or privileged, undisclosed, or otherwise confidential information.
        If you have received this e-mail in error, you are hereby notified that any review,
        copying, or distribution of it is strictly prohibited. Please inform us immediately and destroy the original transmittal.</h5> </br>

        </br>
        Thank you for your interest in Binfill.</br>
        Regards,</br>

        <strong>{{admin_user}} </strong>
    </p>
</html>


