<html>
<center>You have successfully registered as a BinFill Admin.</center>
<br/>
<center>Please find the user name and password to login to the account</center>
<br/>
<center>Username:{{email}}</center>
<br/>
<center>Password :{{password}}</center>
</html>>