<!DOCTYPE html>
<html>
    
    <p>Hello <strong>{{username}}</strong></p>
    <p>You're receiving this email because someone requested a password reset for your user account at Binfill</p>
    <p>Follow this link to reset your password</p>
    <a href ="{{password_reset_link}}">{{password_reset_link}}</a>
    <p>Regards,</p>
    <p><strong>Binfill</strong> Admin.</p>
                
</html>