<p-toast key="forget" [style]="{marginTop: '70px'}"></p-toast>
<div class="card login-panel ui-fluid">
  <div class="ui-g ">
    <div class="ui-g-12 ">
      <img src="../../assets/binfill/applogo.png">
    </div>
    
    <div class="ui-g-12 ">
        <div class="ui-card-title">
            <div class="ui-g-12 my-center-text">Forgot Password</div>
          </div>
      <div class="ui-g-12">
          <input type="email" [(ngModel)]="email" pinputtext="" placeholder="Email" autocomplete="off" class="ui-inputtext ui-corner-all ui-state-default ui-widget"   email="true" #prmEmail="ngModel" required>
         
        
        
        <div class="message-left" *ngIf="prmEmail.errors?.email"> 
        Email not valid.
        </div> 
    </div>
    <div class="ui-g-12">
      <button  type="button" [disabled]="prmEmail.errors?.email && (prmEmail.dirty||prmEmail.touched)" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left"
        type="submit" (click)="forget()">
        <span class="ui-button-icon-left ui-c fa fa-fw ui-icon-person"></span>
        <span class="ui-button-text ui-c">Submit</span>
      </button>

    </div>
    </div>

   
  </div>

</div>
