<div class="ui-g-12">
  <button type="text" (click)="showDialog()"   pButton label="Add Admin" style="float:right;"></button>
</div>


<p-dialog header="Create Admin" #sideBar [(visible)]="display"  [modal]="true" [responsive]="true" [width]="450"
[height]="auto" [minWidth]="200" [minY]="70" [maximizable]="false" [baseZIndex]="10000">

<form #AdminForm="ngForm" >

<p-toast key="forget1" [style]="{marginTop: '70px'}"></p-toast>
<span>
        <div class="ui-g form-group">
          <div class="ui-g-12 ui-md-6">

            <span class="md-inputfield md-inputfield-fill">
              <input type="text" pInputText pTooltip="First Name" name="AFname" [(ngModel)]="AFname"
                     #Fname="ngModel"
                     required>
              <label>First Name</label>
              <div class="textred" *ngIf="Fname.errors?.required">
                First Name is Required
              </div>
            </span>


          </div>
          <div class="ui-g-12 ui-md-6">

            <span class="md-inputfield md-inputfield-fill">
              <input type="text" pInputText pTooltip="Last Name" name="ALname" [(ngModel)]="ALname"
                     tooltipEvent="focus" #Lname="ngModel" required>
              <label>Last Name</label>
              <div class="textred" *ngIf="Lname.errors?.required">
                Last Name is Required
              </div>
            </span>
          </div>
          <div class="ui-g-12 ui-md-6">
            <span class="md-inputfield md-inputfield-fill">
              <input type="email" pInputText pTooltip="Email" email='true' [(ngModel)]="AEmail"
                     name="AEmail"
                     tooltipEvent="focus" #Email="ngModel" required>
              <label>Email</label>
              <div class="textred" *ngIf="Email.value !== '' && Email.untouched && Email.invalid">
                Email is Required
              </div>

            </span>
          </div>
          <div class="ui-g-12 ui-md-6">
            <span class="md-inputfield md-inputfield-fill">
              <p-inputMask mask="+919999999999" [(ngModel)]="Aphone" name="Aphone"
                           placeholder="+199999999999"
                           name="phone" #Phone="ngModel" required>
              </p-inputMask>
              <div class="textred" *ngIf="Phone.errors?.required">
                Phone No is Required
              </div>
            </span>
          </div>
          <div class="ui-g-12 ui-md-6">
            <span class="md-inputfield md-inputfield-fill">
              <input type="text" pInputText pTooltip="City" [(ngModel)]="AStreet" name="AStreet"
                     tooltipEvent="focus" #Street="ngModel" required>
              <label>Street</label>
              <div class="textred" *ngIf="Street.errors?.required">
                Street is Required
              </div>
            </span>
          </div>

          <div class="ui-g-12 ui-md-6">
            <!-- <span class="md-inputfield md-inputfield-fill"> -->
            <!--<p-dropdown [options]="countrys" [(ngModel)]="selectedCountry" [autoWidth]="false"-->
            <!--name="selectedCountry"-->
            <!--filter="true" placeholder="Select A Country" (onChange)="getCities($event.value)"-->
            <!--#Country="ngModel"-->
            <!--[required]='true'>-->
            <!---->

            <!--</p-dropdown>-->
                  <!-- <country-selector [(ngModel)]="countrySelected"
                                    (countrySelected)="getProvinces($event)" 
                                    formControlName="country" >
                  </country-selector> -->
            <!--<div class="textred" *ngIf="Country.errors?.required">-->
              <!--Please select a country-->
            <!--</div>-->
            <!-- <label>Country</label> -->
            <!-- </span> -->
          </div>
          <div class="ui-g-12 ui-md-6">
            <!-- <span class="md-inputfield md-inputfield-fill">
              <p-dropdown [options]="provinces" [(ngModel)]="selectedProvince" [autoWidth]="false"
                          name="selectedProvince" filter="true" placeholder="Select A Province"
                          #Provinve="ngModel" (onChange)="getCity($event.value)"
                          [required]='true'></p-dropdown>
             
              <div class="textred" *ngIf="Provinve.errors?.required">
                Please select a Provinve
              </div>
            </span> -->
<!-- 
            <province-selector [(ngModel)]="selectedProvince"
             
              formControlName="province" ></province-selector> -->
          </div>
          <div class="ui-g-12 ui-md-6">
            <span class="md-inputfield md-inputfield-fill">
              <p-dropdown [options]="city" [(ngModel)]="selectedCity" [autoWidth]="false" filter="true"
                          name="selectedCity" placeholder="Select A City" #City="ngModel"
                          [required]='true'></p-dropdown>
              <!-- <label>City</label> -->
              <div class="textred" *ngIf="City.errors?.required">
                Please select a City
              </div>
            </span>
          </div>
          <div class="ui-g-12 ui-md-6">
            <span class="md-inputfield md-inputfield-fill">
              <input type="text" pInputText pTooltip="Pincode" [(ngModel)]="APincode" name="APincode"
                     tooltipEvent="focus" #Pincode="ngModel" required>
              <label>Postal Code </label>
              <div class="textred" *ngIf="Pincode.errors?.required">
                Postal Code is Required
              </div>
            </span>
          </div>




        </div>
      </span>
</form>
<p-footer>

<button type="button" pButton icon="pi pi-close" (click)="display=false;AdminForm.reset()" label="Cancel"
  class="ui-button-danger"></button>
<button type="button" pButton icon="pi pi-check" (click)="createadmin();" *ngIf="this.issaveVisible"
  [disabled]="!AdminForm.form.valid"
  label="Save" class="ui-button-rounded ui-button-success" style='background-color: #2E7D32'></button>
<button type="button" pButton icon="pi pi-close" (click)="updateuser();" *ngIf="this.isButtonVisible"
  label="Update"
  class="ui-button-rounded ui-button-success" style='background-color: #2E7D32'
  [disabled]="!AdminForm.form.dirty"></button>

</p-footer>
</p-dialog>
